{% extends 'sendler/base.html' %}
{% block content %}

<div class="container">
    <h1 class="fw-light">Сервис Email рассылок</h1>
    <hr>
    <div class="row text-center">
        <div class="col-12 mb-5 pt-md-5 text-center">
            <a class="btn btn-primary" href="{% url 'sendler:index' %}" role="button">Назад</a>
            <a class="btn btn-primary" href="{% url 'sendler:mail_settings_create' %}" role="button">Добавить рассылку</a>
            <a class="btn btn-primary" href="{% url 'sendler:log_list' %}" role="button">Смотреть статистику</a>
        </div>
    </div>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h6 class="my-0 font-weight-normal">Название: {{ object.message }}</h6>
                </div>
                <div class="card-body">
                    <p>Статус:{{ object.status }}</p>
                    <p>Периодичность:{{ object.periodicity }}</p>
                    <a class="btn btn-outline-primary" href="{% url 'sendler:mail_settings_detail' object.pk %}">Подробнее</a>
                </div>
            </div>
         </div>
     {% endfor %}
    </div>
</div>

{% endblock %}